In [1]:
print('hello')

hello

In [3]:
import pandas as pd

In [4]:
pd.read_csv('data (2).csv')

,mic,symbol,isin,date,open_value,high_value,low_value,last_value,change_prev_close_percentage,turnover
0,XZAG,CBX,HRZB00ICBEX6,2015-12-30,1689.22,1689.71,1673.62,1689.63,-0.02,2017520.82
1,XZAG,CBX,HRZB00ICBEX6,2015-12-29,1675.79,1691.02,1673.37,1689.94,0.84,1094356.06
2,XZAG,CBX,HRZB00ICBEX6,2015-12-28,1655.92,1677.17,1652.76,1675.88,1.21,1125687.29
3,XZAG,CBX,HRZB00ICBEX6,2015-12-23,1647.66,1655.77,1641.41,1655.77,0.49,592284.75
4,XZAG,CBX,HRZB00ICBEX6,2015-12-22,1655.71,1655.71,1642.60,1647.67,-0.55,2714509.05
...,...,...,...,...,...,...,...,...,...,...
1493,XZAG,CBX,HRZB00ICBEX6,2010-01-11,2080.33,2115.98,2080.32,2112.17,1.80,3244944.69
1494,XZAG,CBX,HRZB00ICBEX6,2010-01-08,2071.17,2074.79,2062.27,2074.79,0.72,2663570.68
1495,XZAG,CBX,HRZB00ICBEX6,2010-01-07,2058.04,2075.66,2046.12,2059.90,0.45,2364610.48
1496,XZAG,CBX,HRZB00ICBEX6,2010-01-05,2024.82,2071.80,2023.17,2050.69,1.35,4235995.18
1497,XZAG,CBX,HRZB00ICBEX6,2010-01-04,2001.34,2025.90,1979.85,2023.36,0.96,1358250.94