In [1]:
import numpy as np
import pandas as pd

In [3]:
from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score
from sklearn.compose import ColumnTransformer

In [4]:
df=pd.read_csv('tested.csv')[['Age','Fare','SibSp','Parch','Survived']]

In [5]:
df.dropna(inplace=True)

In [6]:
df.head()

    Age     Fare  SibSp  Parch  Survived
0  34.5   7.8292      0      0         0
1  47.0   7.0000      1      0         1
2  62.0   9.6875      0      0         0
3  27.0   8.6625      0      0         0
4  22.0  12.2875      1      1         1

In [7]:
df['family']=df['SibSp']+df['Parch']

In [8]:
df.head()

    Age     Fare  SibSp  Parch  Survived  family
0  34.5   7.8292      0      0         0       0
1  47.0   7.0000      1      0         1       1
2  62.0   9.6875      0      0         0       0
3  27.0   8.6625      0      0         0       0
4  22.0  12.2875      1      1         1       2

In [9]:
df.drop(columns=['SibSp','Parch'],inplace=True)

In [10]:
df.head()

    Age     Fare  Survived  family
0  34.5   7.8292         0       0
1  47.0   7.0000         1       1
2  62.0   9.6875         0       0
3  27.0   8.6625         0       0
4  22.0  12.2875         1       2

In [11]:
x=df.drop(columns=['Survived'])
y=df['Survived']

In [12]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=42)

In [13]:
x_train.head()

       Age     Fare  family
281   0.75  13.7750       2
96   76.00  78.8500       1
341  32.00   7.5792       0
18   27.00   7.9250       1
26   22.00  61.9792       1

In [16]:
clf=DecisionTreeClassifier()
clf.fit(x_train,y_train)
y_pred=clf.predict(x_test)
accuracy_score(y_test,y_pred)

0.6119402985074627

In [18]:
np.mean(cross_val_score(DecisionTreeClassifier(),x,y,cv=10,scoring='accuracy'))

0.6042780748663101

In [19]:
from sklearn.preprocessing import Binarizer

In [21]:
trf=ColumnTransformer([
    ('bin',Binarizer(copy=False),['family'])
],remainder='passthrough')

In [22]:
x_train_trf=trf.fit_transform(x_train)
x_test_trf =trf.transform(x_test)

In [24]:
pd.DataFrame(x_train_trf,columns=['family','Age','Fare'])

     family    Age     Fare
0       1.0   0.75  13.7750
1       1.0  76.00  78.8500
2       0.0  32.00   7.5792
3       1.0  27.00   7.9250
4       1.0  22.00  61.9792
..      ...    ...      ...
259     0.0  20.00   7.2250
260     0.0  27.00   7.8792
261     0.0  43.00   7.8958
262     0.0  16.00   7.6500
263     0.0  42.00  13.0000

[264 rows x 3 columns]

In [25]:
clf=DecisionTreeClassifier()
clf.fit(x_train_trf,y_train)
y_pred2=clf.predict(x_test_trf)
accuracy_score(y_test,y_pred2)

0.6119402985074627

In [27]:
x_trf=trf.fit_transform(x)
np.mean(cross_val_score(DecisionTreeClassifier(),x_trf,y,cv=10,scoring='accuracy'))

0.6041889483065954